.board {
  height: 450px;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  margin-bottom: 100px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.board:hover {
  transform: scale(1.03);
}

.board-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.board-message {
  margin: 10px 0;
}

.board-category {
  margin-bottom: 10px;
}

.board-operations {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

.board-operations button {
  padding: 8px 12px;
  cursor: pointer;
}
.delete-board{
  color: white;
  background-color: teal;
  border-radius: 10px;
  border: none
}
.delete-board:hover{
  background-color: rgb(1, 96, 96);
}
