.categories-list{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 8px
}

button{
    background-color: #fafbfc;
    color: #24292e;
    border: 1px solid #1b1f2326;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

button:hover{
    background-color: #ffffff;;
    transform: scale(1.05);
}
